In [87]:
#create a dataset
import os
os.makedirs(os.path.join('.', 'data'), exist_ok=True)
data_file = os.path.join('.', 'data', 'exercise.csv')
with open(data_file, 'w') as f:
    f.write('name,gender,age,married\n')  # Column names
    f.write('Chako,M,20,N\n')  # Each row represents a data example
    f.write('Chocolate,NaN,21,N\n')
    f.write('Chicken,NaN,13,N\n')
    f.write('Kitchen,M,NaN,Y\n')
    f.write('Mary,F,31,N\n')
    f.write('Kerry,NaN,NaN,N\n')

In [88]:
import pandas as pd
data = pd.read_csv(data_file)
print(data)

        name gender   age married
0      Chako      M  20.0       N
1  Chocolate    NaN  21.0       N
2    Chicken    NaN  13.0       N
3    Kitchen      M   NaN       Y
4       Mary      F  31.0       N
5      Kerry    NaN   NaN       N

In [89]:
m = data.isnull().sum(axis=0) #計算NaN每個col出現的次數
print(m)

nan_max_num=m.max() #計算NaN出現最多次的數量
print (nan_max_num)

name       0
gender     3
age        2
married    0
dtype: int64
3

In [90]:
#找出最多NaN的col index,並刪除該column
for index in m.index:
    if m[index]==nan_max_num:
        print ("要刪掉的column: ",index)
        temp=data.drop([index],axis=1)
        print("\n刪除後:")
        print (temp)

要刪掉的column:  gender

刪除後:
        name   age married
0      Chako  20.0       N
1  Chocolate  21.0       N
2    Chicken  13.0       N
3    Kitchen   NaN       Y
4       Mary  31.0       N
5      Kerry   NaN       N

In [94]:
#將series轉換成tensor format
import torch
import numpy as np

temp = pd.get_dummies(data, dummy_na=True)
print(temp)
tensor_format = torch.tensor(temp.values)
print(tensor_format)

    age  name_Chako  name_Chicken  name_Chocolate  name_Kerry  name_Kitchen  \
0  20.0           1             0               0           0             0
1  21.0           0             0               1           0             0
2  13.0           0             1               0           0             0
3   NaN           0             0               0           0             1
4  31.0           0             0               0           0             0
5   NaN           0             0               0           1             0

   name_Mary  name_nan  gender_F  gender_M  gender_nan  married_N  married_Y  \
0          0         0         0         1           0          1          0
1          0         0         0         0           1          1          0
2          0         0         0         0           1          1          0
3          0         0         0         1           0          0          1
4          1         0         1         0           0          1          0
5          0         0         0         0           1          1          0

   married_nan
0            0
1            0
2            0
3            0
4            0
5            0
tensor([[20.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  1.,  0.,  0.],
        [21.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  1.,  0.,  0.],
        [13.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  1.,  0.,  0.],
        [nan,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  1.,  0.,  0.,  1.,  0.],
        [31.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  1.,  0.,  0.,  1.,  0.,  0.],
        [nan,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  1.,  1.,  0.,  0.]],
       dtype=torch.float64)